HASHKEY_RPC_URL=https://rpc-testnet.hashkeychain.com
PRIVATE_KEY=
HASHKEY_EXPLORER_API_KEY=
HASHKEY_EXPLORER_API_URL=https://explorer-api-testnet.hashkeychain.com/api
HASHKEY_EXPLORER_BROWSER_URL=https://explorer-testnet.hashkeychain.com
NEXOR_VAULT_ADDRESS=
